.venv/
__pycache__/
*.pyc
audios/manually
audios/manually/ICNALE
features_labels.pt
features_labels.pkl
trained_tcn_model.pth
audios
all_cls_tokens_concatenated.pkl
all_cls_tokens_concatenated.pt
test.py
features_labels1.pt
all_cls_tokens_concatenated1.pt
text_features_and_labels.pt
text_features_and_labels_second_try.pt
processed_files.txt
processed_features
gitignore
tcn_model.pth
# Ignore large model files
BERT_PIPELINE/xlnet_finetuned_epoch_freezing_firstLayers_10_BEST/model.safetensors
BERT_PIPELINE/xlnet_finetuned_epoch_freezing_firstLayers_20_Best/model.safetensors
new_trial/xlnet_finetuned_epoch_3/model.safetensors
BERT_PIPELINE/xlnet_finetuned_epoch_freezing_firstLayers_10_BEST
BERT_PIPELINE/xlnet_finetuned_epoch_freezing_firstLayers_20_Best
new_trial/xlnet_finetuned_epoch_3
BERT_PIPELINE/transcriptions.jsonl
intermediate_results/processed_features
intermediate_results/features_labels.pt
cls_features1.pt
all_token_features1.pt
full_tcn_model.pth
labels1.pkl
tcn_model.pth
BERT_PIPELINE/bert-base-cased_freezing_firstLayers_20_Best
BERT_PIPELINE/bert-base-cased_freezing_firstLayers_10_BEST
BERT_PIPELINE/cls_features
extracted_features_from_ICNALE
training_features_Icnale
testing_features_Icnale
.gitignore
Wav2vec pipeline/Second_try_more_freezing_layers
Wav2vec pipeline/ICNALE_features_training_pooled_dataset
Wav2vec pipeline/ICNALE_features_testing_pooled_dataset
testing_features_Icnale_base_model
bert_finetuned_epoch_9
training_features_Icnale_base_model
full_features_tcn_model_icnale_dataset.pth
Wav2vec pipeline/ICNALE_features_testing_dataset
Wav2vec pipeline/ICNALE_features_training_dataset
best_tcn_model.pth
epoch_13
Icnale_testing_transcription.jsonl
Icnale_training_transcription.jsonl
BERT_PIPELINE\transcriptions.jsonl
BERT_PIPELINE/ICNALE
BERT_PIPELINE/Youtube1
BERT_PIPELINE/Youtube2
Wav2vec pipeline/processed_audios
Wav2vec pipeline/Youtube
BERT_PIPELINE/full_features_tcn_model_icnale_dataset2.pth