.venv/
__pycache__/
*.pyc
audios/manually
audios/manually/ICNALE
features_labels.pt
features_labels.pkl
trained_tcn_model.pth
audios
all_cls_tokens_concatenated.pkl
all_cls_tokens_concatenated.pt
test.py
features_labels1.pt
all_cls_tokens_concatenated1.pt
text_features_and_labels.pt
text_features_and_labels_second_try.pt
processed_files.txt
processed_features
gitignore
tcn_model.pth
# Ignore large model files
BERT_PIPELINE/xlnet_finetuned_epoch_freezing_firstLayers_10_BEST/model.safetensors
BERT_PIPELINE/xlnet_finetuned_epoch_freezing_firstLayers_20_Best/model.safetensors
new_trial/xlnet_finetuned_epoch_3/model.safetensors
BERT_PIPELINE/xlnet_finetuned_epoch_freezing_firstLayers_10_BEST
BERT_PIPELINE/xlnet_finetuned_epoch_freezing_firstLayers_20_Best
new_trial/xlnet_finetuned_epoch_3
BERT_PIPELINE/transcriptions.jsonl
intermediate_results/processed_features
intermediate_results/features_labels.pt
cls_features.pt
all_token_features.pt
full_tcn_model.pth
labels.pkl
tcn_model.pth
BERT_PIPELINE/bert-base-cased_freezing_firstLayers_20_Best
BERT_PIPELINE/bert-base-cased_freezing_firstLayers_10_BEST